version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: .docker/php/Dockerfile.prod
    environment:
      - APP_ENV=prod
    ports:
      - "9000:9000"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9000/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - symfony_app

  nginx:
    build:
      context: .
      dockerfile: .docker/nginx/Dockerfile.prod
    ports:
      - "8081:80"
    restart: unless-stopped
    networks:
      - symfony_app

  db:
    image: mysql:8.0.33
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=mytour
      - MYSQL_ROOT_HOST=%
    volumes:
      - .docker/mysql/data:/var/lib/mysql
    ports:
      - 3306:3306
    networks:
      - symfony_app

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.1
    ports:
      - 8080:80
    environment:
      - PMA_HOST=db
    volumes:
      - .docker/phpmyadmin/theme/blueberry:/var/www/html/themes/blueberry
    depends_on:
      - db
    networks:
      - symfony_app

volumes:
  symfony_app_var:
  symfony_app_vendor:
  db_app:

networks:
  symfony_app: