input, label {
    color: #4a4a58 !important;
}

select {
    cursor: pointer;
}

.form-label {
    margin-bottom: 0 !important;
}

.form-control {
    padding: 0.6rem 1rem !important;
}

.card-body.table-responsive {
    min-height: 300px;
}

tbody td {
    white-space: normal !important;
}

thead th a[class="sortable"], thead th a[class="asc"], thead th a[class="desc"] {
    display: flex;
}

thead th a span {
    margin-right: 4px !important;
}

.select2-container .select2-selection--single {
    height: 39px !important;
}

.select2-selection__rendered {
    line-height: 12px !important;
}