<div class="row">
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.fantasyName) }}
    </div>
    <div class="col-sm-6 col-md-4">
        {{ form_row(form.cnpj) }}
    </div>
</div>